* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url("bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linktree {
  background-color: gray;
  padding: 30px;
  border-radius: 30px;
  gap: 10px;
}

.profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profil img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profil h1 {
  color: white;
  font-size: 1.5rem;
}

.linktree p {
  color: white;
}

.sosmed {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
}

.sosmed a {
  color: black;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sub-content {
  display: flex;
  flex-direction: center;
  justify-content: center;
  padding: 15px;
  background-color: black;
}

.sub-content h2 {
  color: white;
}
